#container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 25vh;
}

.card {
    width: 18rem;
}

.card img{
    width: 100%;
    margin-bottom: none;
}

.card-desc {
    background-color: lightblue;
    padding: 5px;
}